src/main/app/generalledgerprocessing_dotnet.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dotnet="http://www.mulesoft.org/schema/mule/dotnet" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/dotnet http://www.mulesoft.org/schema/mule/dotnet/1.0-SNAPSHOT/mule-dotnet.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <dotnet:config name="Dot_Net_Module" assemblyType="MuleSoft.DotNet.BusinessLogic.GeneralLedgerHelper" assemblyName="MuleSoft.DotNet.BusinessLogic" assemblyPath="C:\MuleStudio\dotNet\MuleSoft.DotNet.Samples\MuleSoft.DotNet.BusinessLogic\bin\Debug\MuleSoft.DotNet.BusinessLogic.dll" doc:name="Dot Net Module"/>
    <data-mapper:config name="json_to_pojo_1" transformationGraphPath="json_to_pojo_1.grf" doc:name="json_to_pojo_1"/>
    <data-mapper:config name="pojo_to_pojo_1" transformationGraphPath="pojo_to_pojo_1.grf" doc:name="pojo_to_pojo_1"/>
    <flow name="GeneralLedgerProcessing_DotNetFlow1" doc:name="GeneralLedgerProcessing_DotNetFlow1" processingStrategy="synchronous">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8083" path="ProcessTimeSheet" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="com.mulesoft.samples.ITimeSheetService" doc:name="SOAP"/>
        <logger message="Before dotNet #[message.payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dotnet:execute config-ref="Dot_Net_Module" methodName="PreProcessTimeSheetForGL" doc:name="Dot Net Module"/>
        <response>
            <data-mapper:transform config-ref="pojo_to_pojo_1" doc:name="Pojo To Pojo"/>
        </response>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <flow-ref name="GeneralLedgerProcessing_DotNetFlow2" doc:name="Flow Reference"/>
    </flow>
    <flow name="GeneralLedgerProcessing_DotNetFlow2" doc:name="GeneralLedgerProcessing_DotNetFlow2">
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="json_to_pojo_1" doc:name="JSON To Pojo"/>
        <remove-variable variableName="method" doc:name="Variable"/>
        <cxf:jaxws-client operation="ProcessGL" serviceClass="com.mulesoft.samples.generalledger.IGeneralLedgerService" port="BasicHttpBinding_IGeneralLedgerService" doc:name="SOAP"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8085" path="GeneralLedgerService" method="POST" doc:name="HTTP"/>
    </flow>
</mule>
