src/main/app/sayhello2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dotnet="http://www.mulesoft.org/schema/mule/dotnet" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dotnet http://www.mulesoft.org/schema/mule/dotnet/1.0-SNAPSHOT/mule-dotnet.xsd">
    <dotnet:config name="Dot_Net_Module_SayHello" assemblyType="MuleSoft.DotNet.HelloWorld.SayHelloWorld" assemblyName="MuleSoft.DotNet.HelloWorld" assemblyPath="C:\MuleStudio\dotNet\MuleSoft.DotNet.Samples\MuleSoft.DotNet.HelloWorld\bin\Debug\MuleSoft.DotNet.HelloWorld.dll" doc:name="Dot Net Module"/>
    <flow name="SayHello2Flow1" doc:name="SayHello2Flow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8096" path="helloworld" doc:name="HTTP"/>
        <set-payload value="#[&quot;{\&quot;input\&quot;:\&quot;&quot; + message.inboundProperties[&quot;input&quot;] + &quot;\&quot;}&quot;]" doc:name="Set Payload"/>
        <dotnet:execute config-ref="Dot_Net_Module_SayHello" methodName="SayHello" doc:name="Dot Net Module"/>
    </flow>
</mule>
